
{% extends 'base.html' %}

{% load static %}

{% block 'main' %}
<div class="box col-4">
    <i class="bi bi-geo-alt-fill" style="font-size:20px; "></i><br>
    2nd floor, Ishan Arcade, 1, Gokhale Rd, opposite Gaondevi Mandir, above Canara Bank, Shivaji Path, Dada Patil Wadi, Naupada, Thane West, Thane, Maharashtra 400602 
 </div>
 <div class="box col-4">
    Contact Us: <br>
    <i class="bi bi-telephone-fill" style="font-size:20px; "></i> 9123456789 <br>
    <i class="bi bi-envelope-fill" style="font-size:20px; "></i> officeHR@companyname.com
 </div>

 {% endblock 'main' %}